# This file is vendored from the PearlPay API's canonical OpenAPI spec.
# Refresh it with:
#
#   PEARLPAY_OPENAPI_SOURCE=/path/to/openapi.yaml bundle exec rake openapi:vendor
#
# Do not hand-edit — edit the source spec and re-vendor instead.
openapi: 3.1.0

info:
  title: PearlPay API
  version: "2026-06-25"
  description: |
    The PearlPay API enables you to accept payments (cashin) and send disbursements
    (cashout) programmatically. Build reliable payment flows for Philippine customers
    with support for GCash, Maya, cards, InstaPay, and PESONet.

    Design goals align with common **Stripe-caliber** API conventions: Bearer authentication,
    typed JSON resources (`object`), integer amounts in the smallest currency unit, dated
    versioning (`X-Api-Version`), idempotency for `POST`, signed webhooks, and structured
    errors with stable `code` strings.

    ## Base URLs

    | Environment | Base URL |
    |-------------|----------|
    | Production  | `https://api.pearlpay.io/v1` |
    | Staging     | `https://staging.api.pearlpay.io/v1` |

    ## Authentication

    All requests require a Bearer token. Use your secret API key from the
    PearlPay Dashboard (**Settings → API Keys**).

    ```
    Authorization: Bearer sk_live_<your_key>
    ```

    `sk_test_` keys are accepted for authentication, reads and link/webhook management, but they
    are **not a payment sandbox**: `POST /payments` and `POST /disbursements` reject them with
    `403 test_key_not_permitted`, and there is no simulated provider. Keys are scoped — see
    [Authentication](#section/Authentication).

    ## Amounts

    All `amount` fields in **responses** are integers in centavos (smallest currency unit).
    `PHP 1,500.00 = 150000`. An `amount_decimal` string is included for display.

    **Request** bodies accept `amount` as an **integer in centavos (minor units) only** —
    `150000` for `PHP 1,500.00`. This matches Stripe and keeps every amount input on the
    platform consistent.

    Decimal values are **rejected** with `422 invalid_parameter` — both JSON floats
    (`1500.00`) and decimal strings (`"1500.00"`) — because binary floating point cannot
    represent money exactly. The error includes a hint with the integer to send
    (e.g. `Send 150050 for 1,500.50 PHP`). A digit-only string (`"150000"`) is accepted as
    minor units.

    ## Fees

    Fees are still computed server-side and applied to the amount the
    customer pays, but the **API resources no longer break them out**. Payment and disbursement
    responses are intentionally minimal — `amount` is the **gross** amount (the base you submitted plus any
    facilitation/total fee charged on top by the routed capability), and the fee/settlement
    detail (facilitation fee, WHT, platform fees, net settlement, the calculator snapshot) lives in
    the **Dashboard** and the **wallet balance** (`GET /wallet/balance`) rather than on each resource.

    The merchant-side fee is that of the provider capability that ultimately serves the payment: if
    the platform fails over to another provider before completion, the fee reflects the serving
    provider, while the customer `amount` never changes.

    > The `facilitation_fee` **input** on `POST /payments` is **deprecated and ignored**: the
    > facilitation fee always comes from the routed provider capability. The field is still accepted
    > for backward compatibility.

    > When a routed capability charges its fee **on top** of the submitted amount, the customer is
    > charged `amount + fee` — the payment's `amount` may therefore exceed the `amount` you submitted
    > on `POST /payments`. This never happens unless the merchant's capability is configured for it.
    > Compare webhook and retrieve `amount` with the `amount` in the `201` response, not with the
    > amount you requested.

    ## Versioning

    Pin a specific API version with the `X-Api-Version: YYYY-MM-DD` request header.
    If omitted, the server uses its default (**`2026-04-14`**) for response
    shapes and backwards-compatible parsing.

    ## Idempotency

    **`Idempotency-Key` is required** on `POST /payments`, `POST /disbursements`,
    `POST /payment_links`, and `POST /payment_links/{id}/checkout_url`.
    Use it to safely retry without creating duplicates. Keys expire after 24 hours.
    Retry with the **same** key only when no response was received (or after a `429`);
    a received error response is cached under the key for 24 hours, so a fresh attempt
    after a `5xx` needs a **new** key. On `POST /payments`, a failure in a step after the
    payment is created and its `201` decided (webhook enqueue, polling/expiry scheduling,
    hosted checkout session) returns the real `201` (with `checkout_url: null` if the hosted
    checkout session could not be created, unless the provider issued its own checkout page,
    e.g. Maya / ShopeePay), which a same-key retry replays. A `5xx` can
    still accompany a created payment (`502 upstream_failure` and
    `500 provider_configuration_error` leave a `failed` payment; `500 internal_error` may
    leave a `pending` one), so look the `merchant_reference_id` up before reusing it.

    ## Request signing (HMAC)

    **`POST /disbursements` requires** `X-Request-Timestamp`, `X-Request-Nonce`, and
    `X-Signature` ([Request signing guide](https://api.pearlpay.io/api-docs/guides/request-signing)). `POST /payments` uses signing only when
    your API key has `require_signing`, or when you send these headers (they are then verified).
    `require_signing` is not self-service: it can currently be enabled only by PearlPay operators (there is no Dashboard or API toggle).
    Each retry needs a fresh nonce and timestamp (a nonce that verified once is rejected with `401
    invalid_signature`, even if the request then failed), while keeping the same `Idempotency-Key`.

  externalDocs:
    description: Request signing (HMAC) — full guide
    url: https://api.pearlpay.io/api-docs/guides/request-signing

  contact:
    name: PearlPay Developer Support
    email: developers@pearlpay.ph
    url: https://developers.pearlpay.io
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.pearlpay.io/v1
    description: Production
  - url: https://staging.api.pearlpay.io/v1
    description: Staging

tags:
  - name: API Keys
    description: |
      Rotate per-key request signing secrets (`whsig_…`) used for HMAC verification.
      Does not rotate the bearer API key (`sk_live_` / `sk_test_`).

      Keys are addressed by their **API key ID** (`ak_live_…` / `ak_test_…`) — the opaque,
      non-secret identifier shown in the Dashboard under **Settings → API Keys**. This is
      distinct from the bearer secret and cannot be used to authenticate requests.

  - name: Payments
    description: |
      Accept incoming payments from customers via e-wallet, card, or online banking.
  - name: Disbursements
    description: |
      Send funds to recipients via **InstaPay** (near-real-time) or **PESONet** (batch clearing).
  - name: Disbursement Rails
    description: |
      Discover the transfer rails (`instapay`, `pesonet`, `rtgs`) and the partner institutions
      reachable on each rail. Use `partners[].code` as `partner_code` when creating disbursements.
  - name: Partners
    description: Active bank and e-wallet partners available for disbursements.
  - name: Wallets
    description: Your PearlPay wallet balance.
  - name: Webhook Endpoints
    description: Register HTTPS endpoints to receive real-time event notifications.
  - name: Payment Links
    description: |
      Reusable checkout configurations with shareable `/pay/pl_*` URLs.
      Creates payments via the same pipeline as `POST /v1/payments`.

security:
  - BearerAuth: []

paths:

  # ────────────────────────────────────────────────────────────────
  # PAYMENTS
  # ────────────────────────────────────────────────────────────────

  /payments:
    post:
      operationId: createPayment
      tags: [Payments]
      summary: Create a payment
      description: |
        Creates a new payment. A `201` returns the full `Payment` object with status `pending`. Error responses for failures that leave a payment record include its public id in `error.details.payment_id` (see the failure table below).

        Supported `payment_channel` values are `qrph`, `gcash`, `maya`, `card`, `bpi`,
        `grabpay`, `shopeepay`, `ub online`, `instapay`, `cebl`, and `plwn` (subject to your
        provider configuration).
        The response includes a `checkout_url` — a PearlPay-hosted QR display page for `qrph`, a
        PearlPay-hosted card page for `card`, or a redirect to the provider's hosted checkout for
        the others.

        **`Idempotency-Key` is required.** Use it to safely retry without creating duplicate
        payments. The `merchant_reference_id` is also a deduplication key — submitting the
        same value twice returns `409 Conflict`.

        Returns `422` (`no_available_provider`) if no provider account can take the payment (the
        channel is not enabled for your account, the amount fits no single provider's range, every
        eligible provider is temporarily unavailable, the provider credentials for your account are
        incomplete, your account's routing configuration excludes every eligible provider for this
        amount, the `currency` is not supported for the channel (only `PHP`), or, on staging, only
        live provider accounts exist for the channel),
        `422` (`amount_below_threshold`) if the amount is below every eligible
        provider's minimum, and `422` (`amount_above_threshold`) if the amount is above every
        eligible provider's maximum (only when every eligible provider has a maximum; an amount
        equal to a maximum is allowed). None of these creates a payment, so they do not consume the
        `merchant_reference_id`: a reference not already used by an existing payment can be
        reused with a new `Idempotency-Key`. These checks run before the reference uniqueness
        check, so they are returned even for an already-used reference.

        If checkout URL generation fails with a **transient** provider/network error, this still
        returns `201` with `status: "pending"` and `checkout_url: null` — an internal retry
        (with provider failover) runs automatically in the background. Poll
        `GET /v1/payments/{id}` until `checkout_url` is populated or the payment turns `failed`.
        When the background retry gives up (every retry exhausted, a non-retryable error, or no
        usable provider account) it fails the payment immediately with a `payment.failed`
        webhook, without waiting for `expires_at`; if `expires_at` passes before the retries
        finish, the payment is reaped `failed` instead, normally with
        `message: "Payment expired"`. A
        **non-retryable** checkout
        failure fails the payment immediately and maps to a status by cause: `502`
        (`upstream_failure`) when no background retry is available (for example the provider
        account's circuit breaker is open), `500` (`provider_configuration_error`) for a
        misconfigured provider account, or `422` (`provider_unavailable`) for an inactive
        merchant/provider account. In those cases the payment record is created and marked `failed`.

        **Which failures leave a payment record** (as currently implemented):

        | Outcome | Payment record? | `merchant_reference_id` reusable with a new key? |
        |---------|-----------------|--------------------------------------------------|
        | Auth, scope, test-key, IP or signature errors; `400`/`422` validation (`invalid_parameter`, `missing_parameter`); `422 no_available_provider`; `422 amount_below_threshold`; `422 amount_above_threshold` (they are checked before reference uniqueness, so they take precedence over `409 duplicate_reference`); `409 duplicate_reference` / `idempotency_conflict` / `idempotency_in_progress` | No | Yes, unless a payment already holds it (always the case for `409 duplicate_reference`) |
        | `422 fraud_declined`, `422 provider_unavailable`, `500 provider_configuration_error`, `502 upstream_failure` | Yes, marked `failed` (a `payment.failed` webhook is sent; no `payment.created`) | No (a new key with the same reference returns `409 duplicate_reference`) |
        | `500 internal_error` (only a crash before the `201` is decided) | Possibly. A `pending` payment may exist and is failed when it expires | No, if a record exists |
        | `201` with `status: "pending"` and `checkout_url: null` | Yes, pending (background retry; `payment.created` is not sent, `payment.checkout_ready` is sent when a URL is obtained, and `payment.failed` is sent if the retry cannot obtain one) | No |

        Once the `201` is decided, a failure in a follow-up step does not turn the response into a
        `5xx`: you still get the `201`. See "5xx and created payments" in the Idempotency guide
        (`docs/api/05-idempotency.md`).

        When a payment exists for the failure, its public id is in `error.details.payment_id`. For
        `409 duplicate_reference` it is the merchant's existing payment, when it can be found.
        Otherwise look the payment up with the exact lookup
        `GET /v1/payments?merchant_reference_id=<merchant_reference_id>`.

        Optional HMAC headers (`X-Request-Timestamp`, `X-Request-Nonce`, `X-Signature`) are
        required when the API key has `require_signing`, or verified when sent. See [Request signing](https://api.pearlpay.io/api-docs/guides/request-signing).

        **Required API key scope:** `payments:write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/RequestTimestamp'
        - $ref: '#/components/parameters/RequestNonce'
        - $ref: '#/components/parameters/RequestSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              qrph:
                summary: QRPH (integer centavos amount)
                value:
                  merchant_reference_id: ORDER-2026-00125
                  amount: 200000
                  currency: PHP
                  payment_channel: qrph
                  customer:
                    first_name: Ana
                    last_name: Reyes
                    email: ana.reyes@email.com
                    mobile: "+639191234567"
                  redirect_url: "https://merchant.ph/checkout/return"
                  metadata:
                    order_id: "ORDER-2026-00125"
              qrph_minor_units_string:
                summary: QRPH (digit-only string centavos amount)
                value:
                  merchant_reference_id: ORDER-2026-00126
                  amount: "200000"
                  payment_channel: qrph
      responses:
        '201':
          description: Payment created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                pending_qrph:
                  summary: Pending QRPH payment
                  value:
                    id: pay_01JRXYZ1234QRPHY
                    object: payment
                    merchant_reference_id: ORDER-2026-00125
                    status: pending
                    amount: 200000
                    amount_decimal: "2000.00"
                    currency: PHP
                    checkout_url: "https://pay.pearlpay.ph/pay/chk_01JRXYZ1234QRPHY"
                    created_at: "2026-04-27T08:30:00Z"
                pending_retry_qrph:
                  summary: Pending QRPH payment — checkout generation retrying in the background
                  value:
                    id: pay_01JRXYZ1234QRPHZ
                    object: payment
                    merchant_reference_id: ORDER-2026-00127
                    status: pending
                    amount: 200000
                    amount_decimal: "2000.00"
                    currency: PHP
                    checkout_url: null
                    created_at: "2026-04-27T08:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

    get:
      operationId: listPayments
      tags: [Payments]
      summary: List payments
      description: |
        Returns a paginated list of payments, sorted newest first.
        Default date range is the past 3 months if `from`/`to` are omitted.
        Unparseable `from`/`to` values silently fall back to those defaults.

        **Required API key scope:** `payments:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: "Start date (inclusive, `YYYY-MM-DD`). Default: 3 months ago."
          example: "2026-01-01"
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: "End date (inclusive, `YYYY-MM-DD`). Default: today."
          example: "2026-04-14"
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PaymentStatus'
          description: |
            Filter by payment status. Accepts a single value or a comma-separated list
            (e.g. `status=succeeded,failed`). Unknown values return `400 invalid_parameter`.
          example: succeeded
        - name: payment_channel
          in: query
          schema:
            type: string
          description: "Filter by payment channel slug (e.g. `qrph`, `gcash`, `maya`, `bpi`) — any value accepted by `payment_channel` on create."
          example: qrph
        - name: query
          in: query
          schema:
            type: string
          description: "Case-insensitive substring match across `merchant_reference_id`, PearlPay reference fields, email and mobile. Not an exact match and does not search name."
          example: ana.reyes@email.com
        - name: merchant_reference_id
          in: query
          schema:
            type: string
          description: |
            **Exact** lookup of your own payment by the `merchant_reference_id` you sent on create
            (case-sensitive, full string). Returns the usual list envelope with zero or one payment.
            Not limited to the default 3-month window, so it finds old payments. `from`, `to` and
            `query` are ignored when this is set; `status` and `payment_channel` still filter.
            Only payments belonging to the authenticated merchant are returned.
          example: ORDER-2026-0001
      responses:
        '200':
          description: Paginated list of payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/{id}:
    get:
      operationId: retrievePayment
      tags: [Payments]
      summary: Retrieve a payment
      description: Retrieves a payment by its PearlPay ID (`pay_xxx`).
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "The payment's PearlPay ID (e.g., `pay_01JRXYZ1234ABCDEF`)."
          example: pay_01JRXYZ1234ABCDEF
      responses:
        '200':
          description: Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{id}/cancel:
    post:
      operationId: cancelPayment
      tags: [Payments]
      summary: Cancel a pending payment
      description: |
        Cancels a payment that is still `pending` (the customer has not paid), so you can release
        held stock or a booking without waiting for `expires_at`. Requires the `payments:write`
        scope and a **live** key (`sk_test_` keys get `403 test_key_not_permitted`). No money
        moves.

        There is no `cancelled` status. A cancelled payment is `status: "failed"` with
        `message: "Cancelled by merchant"` and `failure_reason: "cancelled_by_merchant"`, and the
        existing **`payment.failed`** webhook is delivered (there is no `payment.cancelled` event).

        **Idempotent.** Cancelling an already merchant-cancelled payment returns `200` with the
        same body and sends no second webhook. No `Idempotency-Key` is needed.

        **Cancel never wins over a confirmed payment.** Before cancelling, PearlPay asks the
        provider for the payment's current status where the provider supports it. If the provider
        reports it paid, the payment is confirmed normally (`payment.succeeded`) and this call
        returns `409 payment_already_succeeded`. If the provider supports status checks but cannot
        be reached, the call fails closed with `503 status_check_unavailable` and nothing is
        cancelled (retry). Providers without status-check support are cancelled on PearlPay's own
        state.

        **A customer can still pay a cancelled payment.** If a provider later reports the cancelled
        payment as paid (for example the customer scanned an already-displayed QR code), the payment
        stays `failed` and goes to manual review; it is not confirmed automatically. If an operator
        then confirms it, `payment.succeeded` is delivered. Reconcile against the webhook rather than
        assuming a cancelled payment can never be paid.

        Availability: this endpoint is behind a feature flag. While it is not enabled for the
        platform it returns `404 not_found`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "The payment's PearlPay ID (e.g., `pay_01JRXYZ1234ABCDEF`)."
          example: pay_01JRXYZ1234ABCDEF
      responses:
        '200':
          description: |
            The cancelled payment (`status: "failed"`, `failure_reason: "cancelled_by_merchant"`).
            Also returned, unchanged, when the payment was already cancelled by you.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            The payment cannot be cancelled. `error.code` is one of:
            `payment_already_succeeded` (confirmed, including a success the provider reported while
            cancelling), `payment_in_progress` (the provider is mid-confirmation; retry shortly), or
            `payment_not_cancellable` (already `failed` for another reason, e.g. expired, or `voided`),
            or `payment_under_review` (a provider reported it paid with a different amount; under
            manual review). `error.details.payment_id` carries the payment id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                payment_already_succeeded:
                  value:
                    error:
                      code: payment_already_succeeded
                      message: "Payment has already succeeded and cannot be cancelled"
                      details:
                        payment_id: pay_01JRXYZ1234ABCDEF
                      request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0
                payment_in_progress:
                  value:
                    error:
                      code: payment_in_progress
                      message: "Payment is being processed and cannot be cancelled"
                      details:
                        payment_id: pay_01JRXYZ1234ABCDEF
                      request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0
                payment_not_cancellable:
                  value:
                    error:
                      code: payment_not_cancellable
                      message: "Only pending payments can be cancelled"
                      details:
                        payment_id: pay_01JRXYZ1234ABCDEF
                      request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0
                payment_under_review:
                  value:
                    error:
                      code: payment_under_review
                      message: "A provider reported a different amount for this payment and it is under review, so it cannot be cancelled"
                      details:
                        payment_id: pay_01JRXYZ1234ABCDEF
                      request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0
        '503':
          description: |
            `status_check_unavailable`: the provider supports status checks but PearlPay could not
            reach it (error or rate limit), so it could not rule out that the customer already paid.
            The payment was **not** cancelled. Also returned when the provider's answer is inconclusive (it
            learned nothing, or reported the payment paid but PearlPay could not apply that). Retry
            shortly; `Retry-After` is always set (5 seconds by default). If it persists the payment
            expires normally: reconcile via `GET /payments/{id}` or the `payment.failed` /
            `payment.succeeded` webhooks.
          headers:
            Retry-After:
              description: Seconds to wait before retrying, when known.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: status_check_unavailable
                  message: "Could not confirm the payment's current status with the provider. Retry shortly."
                  details:
                    payment_id: pay_01JRXYZ1234ABCDEF
                  request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0

  # ────────────────────────────────────────────────────────────────
  # DISBURSEMENTS
  # ────────────────────────────────────────────────────────────────

  /disbursements:
    post:
      operationId: createDisbursement
      tags: [Disbursements]
      summary: Create a disbursement
      description: |
        Sends funds to a recipient via InstaPay or RTGS (near-real-time) or PESONet (batch clearing).

        **Always provide an `Idempotency-Key`.** Disbursements cannot be recalled once
        submitted. Idempotency prevents double-payouts on network retries.

        The `merchant_reference_id` is a permanent deduplication key. Submitting the same
        value again returns **`200 OK` with the original disbursement** (no duplicate payout
        is created), even without an `Idempotency-Key`. `409 Conflict` is reserved for
        `Idempotency-Key` conflicts (same key, different parameters, or still in flight).

        Identify the destination institution with **`partner_code`** (canonical `code` or per-rail
        `alias_code` from `GET /disbursements/rails/{code}/partners`). The legacy **`bank_code`** field is still
        accepted but deprecated; requests using it receive a `Deprecation` response header
        (sunset 2026-12-01).

        **HMAC signing is mandatory:** include `X-Request-Timestamp`, `X-Request-Nonce`, and
        `X-Signature` ([Request signing](https://api.pearlpay.io/api-docs/guides/request-signing)). Missing headers return `400`.

        **Required API key scope:** `disbursements:write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/DisbursementRequestTimestamp'
        - $ref: '#/components/parameters/DisbursementRequestNonce'
        - $ref: '#/components/parameters/DisbursementRequestSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisbursementRequest'
            examples:
              instapay:
                summary: InstaPay disbursement
                value:
                  merchant_reference_id: PAYOUT-2026-00456
                  amount: 500000
                  currency: PHP
                  rail: instapay
                  partner_code: BDO
                  account_number: "1234567890"
                  account_name: Jose Reyes
                  sender:
                    name: Acme Corp
                  metadata:
                    employee_id: EMP-001
              pesonet:
                summary: PESONet disbursement
                value:
                  merchant_reference_id: PAYOUT-2026-00457
                  amount: 2500000
                  currency: PHP
                  rail: pesonet
                  partner_code: MBTC
                  account_number: "9876543210"
                  account_name: Ana Villanueva
                  sender:
                    name: Acme Corp
      responses:
        '201':
          description: Disbursement created and queued for processing.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
            Deprecation:
              $ref: '#/components/headers/Deprecation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disbursement'
              examples:
                queued:
                  summary: Newly queued disbursement
                  value:
                    id: dis_01JRXYZ5678GHIJKL
                    object: disbursement
                    merchant_reference_id: PAYOUT-2026-00456
                    status: queued
                    amount: 500000
                    amount_decimal: "5000.00"
                    currency: PHP
                    created_at: "2026-04-14T08:30:00Z"
        '200':
          description: |
            The `merchant_reference_id` was already used — the **original** disbursement is
            returned and no new payout is created. Also returned when an `Idempotency-Key`
            replay resolves to a previously completed request.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disbursement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      operationId: listDisbursements
      tags: [Disbursements]
      summary: List disbursements
      description: |
        Returns a paginated list of disbursements, sorted newest first.
        Default date range is the past 3 months if `from`/`to` are omitted.

        **Required API key scope:** `disbursements:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: "Start date (inclusive). Default: 3 months ago."
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: "End date (inclusive). Default: today."
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DisbursementStatus'
          description: |
            Filter by disbursement status. Accepts a single value or a comma-separated list
            (e.g. `status=paid,returned`). Unknown values return `400 invalid_parameter`.
          example: paid
        - name: rail
          in: query
          schema:
            type: string
            enum: [instapay, pesonet, rtgs]
          description: Filter by disbursement rail.
          example: instapay
        - name: bank_code
          in: query
          schema:
            type: string
          description: Filter by recipient partner/bank code (the stored `bank_code` value).
          example: BDO
      responses:
        '200':
          description: Paginated list of disbursements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisbursementList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /disbursements/{id}:
    get:
      operationId: retrieveDisbursement
      tags: [Disbursements]
      summary: Retrieve a disbursement
      description: Retrieves a disbursement by its PearlPay ID (`dis_xxx`).
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "The disbursement's PearlPay ID (e.g., `dis_01JRXYZ5678GHIJKL`)."
          example: dis_01JRXYZ5678GHIJKL
      responses:
        '200':
          description: Disbursement object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disbursement'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ────────────────────────────────────────────────────────────────
  # DISBURSEMENT RAILS
  # ────────────────────────────────────────────────────────────────

  /disbursements/rails:
    get:
      operationId: listDisbursementRails
      tags: [Disbursement Rails]
      summary: List transfer rails
      description: |
        Returns the active transfer rails available for disbursements. Use `code` as the
        `rail` value when creating disbursements.

        **Required API key scope:** `disbursements:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of active transfer rails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRailList'
              example:
                object: list
                rails:
                  - code: instapay
                    name: InstaPay
                    settlement_behavior: real_time
                    max_amount: "50000.00"
                  - code: pesonet
                    name: PESONet
                    settlement_behavior: batch
                  - code: rtgs
                    name: RTGS
                    settlement_behavior: rtgs
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /disbursements/rails/{code}/partners:
    get:
      operationId: listRailPartners
      tags: [Disbursement Rails]
      summary: List partners on a rail
      description: |
        Returns the partner institutions (banks and e-wallets) reachable on the given rail.
        Use `partners[].code` or `partners[].alias_code` as the `partner_code` field when creating disbursements.

        Cache this list — it changes infrequently. We recommend refreshing daily.

        **Required API key scope:** `disbursements:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: code
          in: path
          required: true
          schema:
            type: string
            enum: [instapay, pesonet, rtgs]
          description: Transfer rail code.
          example: instapay
      responses:
        '200':
          description: Partners reachable on this rail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RailPartnerList'
              example:
                object: list
                rail: instapay
                rail_name: InstaPay
                settlement_behavior: real_time
                partners:
                  - code: BDO
                    name: BDO Unibank
                    partner_type: bank
                  - code: BPI
                    name: Bank of the Philippine Islands
                    partner_type: bank
                  - code: GCSH
                    name: GCash
                    partner_type: ewallet
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ────────────────────────────────────────────────────────────────
  # PARTNERS
  # ────────────────────────────────────────────────────────────────

  /partners:
    get:
      operationId: listPartners
      tags: [Partners]
      summary: List available partners (legacy)
      description: |
        Returns the active bank and e-wallet partners for the given disbursement channel.

        **Superseded by `GET /disbursements/rails/{code}/partners`**, which returns the
        canonical `partner_code` values. This endpoint remains available for integrations
        built against `bank_code`.

        Cache this list — it changes infrequently. We recommend refreshing daily.

        **Required API key scope:** `disbursements:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: channel
          in: query
          required: true
          schema:
            type: string
            enum: [instapay, pesonet]
          description: "Disbursement channel (`instapay` or `pesonet`)."
          example: instapay
      responses:
        '200':
          description: List of available partners.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerList'
              examples:
                instapay_partners:
                  summary: InstaPay partners (sample)
                  value:
                    object: list
                    data:
                      - bank_code: BDO
                        bank_name: BDO Unibank
                        active: true
                      - bank_code: BPI
                        bank_name: Bank of the Philippine Islands
                        active: true
                      - bank_code: MBTC
                        bank_name: Metrobank
                        active: true
                      - bank_code: UBPA
                        bank_name: UnionBank of the Philippines
                        active: true
                      - bank_code: GCSH
                        bank_name: GCash
                        active: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ────────────────────────────────────────────────────────────────
  # WALLETS
  # ────────────────────────────────────────────────────────────────

  /wallets/balance:
    get:
      operationId: getWalletBalance
      tags: [Wallets]
      summary: Get wallet balance
      description: |
        Returns per-ledger wallet balances for your merchant account.

        Each bucket (`payments`, `disbursements`) reports `available`, `pending`, and
        `reserved` as **decimal strings** (e.g. `"50000.00"`). Amounts are formatted for
        display — use integer centavos from payment/disbursement resources for arithmetic.

        **Required API key scope:** `disbursements:read` (even if you only need the `payments` bucket).
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Current wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalance'
              example:
                payments:
                  currency: PHP
                  available: "45000.00"
                  pending: "1500.00"
                  reserved: "0.00"
                disbursements:
                  currency: PHP
                  available: "50000.00"
                  pending: "500.00"
                  reserved: "2000.00"
                updated_at: "2026-04-14T08:45:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ────────────────────────────────────────────────────────────────
  # WEBHOOK ENDPOINTS
  # ────────────────────────────────────────────────────────────────

  /webhook_endpoints:
    post:
      operationId: createWebhookEndpoint
      tags: [Webhook Endpoints]
      summary: Create a webhook endpoint
      description: |
        Registers an HTTPS URL to receive real-time event notifications.

        The response includes a `signing_secret` (prefixed `whsec_`). **Store it securely
        — it is shown only once and cannot be retrieved again.** Use it to verify the
        HMAC-SHA256 signature on every incoming event.

        Subscribing with `["*"]` keeps the endpoint subscribed to every event type, including
        ones added to the platform later — no re-create or update needed. `enabled_events`
        reads back as the full resolved list.

        **Required API key scope:** `payments:write` (not `webhooks:manage`, which applies to
        activate and rotate).
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookEndpointRequest'
            example:
              url: "https://merchant.ph/webhooks/pearlpay"
              enabled_events:
                - payment.succeeded
                - payment.failed
                - disbursement.paid
                - disbursement.failed
                - disbursement.returned
              description: Production webhook
      responses:
        '201':
          description: Webhook endpoint created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
              example:
                id: we_9f3c8a2b1d4e5f6a7b8c9d0e
                object: webhook_endpoint
                url: "https://merchant.ph/webhooks/pearlpay"
                status: enabled
                enabled_events:
                  - payment.succeeded
                  - payment.failed
                  - disbursement.paid
                  - disbursement.failed
                  - disbursement.returned
                description: Production webhook
                signing_secret: "whsec_01JRXYZ9012MNOPQRabcdefghijklmnop..."
                created_at: "2026-04-14T08:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      operationId: listWebhookEndpoints
      tags: [Webhook Endpoints]
      summary: List webhook endpoints
      description: |
        Returns all webhook endpoints for your account, newest first (not paginated) —
        including endpoints that are currently `suspended` or `disabled`, so you can find the
        `id` needed to reactivate one. `signing_secret` is always `null` on list responses —
        it is shown only on creation.

        **Required API key scope:** `payments:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of webhook endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhook_endpoints/{id}/activate:
    post:
      operationId: activateWebhookEndpoint
      tags: [Webhook Endpoints]
      summary: Activate a webhook endpoint
      description: |
        Re-enables a webhook endpoint and clears any automatic delivery suspension, without
        changing its URL, subscriptions, or signing secret. Events still awaiting retry are
        attempted again on the next retry sweep, and events held while the endpoint was
        suspended are released and delivered, oldest first.

        Use this after fixing a handler that caused PearlPay to suspend deliveries (see
        `status: suspended`), or to switch a `disabled` endpoint back on. It is safe to call on
        an endpoint that is already `enabled`.

        **Required API key scope:** `webhooks:manage`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: we_9f3c8a2b1d4e5f6a7b8c9d0e
          description: Webhook endpoint ID (`we_…`), from the Dashboard or list/create API response.
      responses:
        '200':
          description: The reactivated webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
              example:
                id: we_9f3c8a2b1d4e5f6a7b8c9d0e
                object: webhook_endpoint
                url: "https://merchant.ph/webhooks/pearlpay"
                status: enabled
                enabled_events:
                  - payment.succeeded
                  - payment.failed
                description: Production webhook
                signing_secret: null
                deliveries_resume_at: null
                created_at: "2026-04-14T08:00:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            The endpoint's URL is no longer acceptable — typically its host now resolves to a
            private, loopback, or link-local address. The endpoint is left exactly as it was;
            nothing is reactivated or un-suspended.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_parameter
                  message: "Url must not point to a private, loopback, or link-local address"
                  request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0

  /webhook_endpoints/{id}/rotate_signing_secret:
    post:
      operationId: rotateWebhookSigningSecret
      tags: [Webhook Endpoints]
      summary: Rotate webhook signing secret
      description: |
        Issues a new `whsec_…` signing secret for the webhook endpoint. The previous secret
        stays valid for a grace window (24 hours by default; see `previous_secret_expires_at`
        in the response). While the window is open, every delivery carries two signatures:
        `X-Webhook-Signature` is unchanged (a single `v1=<hex>`, now computed with the new
        secret) and `X-Webhook-Signature-Previous` carries `v1=<hex>` computed with the
        previous secret over the same timestamp and message. Verifying the previous header is
        optional; the header is absent outside a window. Rotating again during a window ends
        the older previous secret immediately.

        To revoke a compromised secret immediately, send `grace_seconds: 0`. `grace_seconds`
        is optional (default: the configured window, 24 hours) and may be any integer from 0 up
        to that default; it can shorten the window, never lengthen it. Invalid values return
        `400 invalid_parameter`.

        **Required API key scope:** `webhooks:manage`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: we_9f3c8a2b1d4e5f6a7b8c9d0e
          description: Webhook endpoint ID (`we_…`), from the Dashboard or list/create API response.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                grace_seconds:
                  type: integer
                  minimum: 0
                  description: |
                    How long the previous secret stays valid. `0` invalidates it immediately.
                    Defaults to, and may not exceed, the configured window (86400 seconds).
                  example: 3600
      responses:
        '200':
          description: New signing secret (shown once).
          content:
            application/json:
              schema:
                type: object
                required: [object, webhook_endpoint_id, signing_secret, previous_secret_expires_at, message]
                properties:
                  object:
                    type: string
                    enum: [webhook_signing_secret]
                  webhook_endpoint_id:
                    type: string
                    description: The endpoint's public identifier (`we_…`).
                    example: we_9f3c8a2b1d4e5f6a7b8c9d0e
                  signing_secret:
                    type: string
                    description: Store securely; not shown again.
                    example: whsec_01JRXYZ9012MNOPQRabcdefghijklmnop
                  previous_secret_expires_at:
                    type: [string, "null"]
                    format: date-time
                    description: |
                      When the previous secret stops being valid and deliveries return to a
                      single signature. `null` when the grace window is disabled (the previous
                      secret was invalidated immediately).
                    example: "2026-10-04T10:00:00Z"
                  message:
                    type: string
                    example: "Store this secret securely; it is shown once."
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ────────────────────────────────────────────────────────────────
  # PAYMENT LINKS
  # ────────────────────────────────────────────────────────────────

  /payment_links:
    post:
      operationId: createPaymentLink
      tags: [Payment Links]
      summary: Create a payment link
      description: |
        Creates a reusable checkout configuration. Returns a durable link URL (`/pay/pl_*`).

        **Required API key scope:** `payment_links:write`.
        **Required header:** `Idempotency-Key`.
        **Environment** is inherited from the API key (`sk_test_` → test).
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
      responses:
        '201':
          description: Payment link created.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      operationId: listPaymentLinks
      tags: [Payment Links]
      summary: List payment links
      description: |
        Returns your payment links, newest first, using cursor pagination
        (`limit` / `starting_after`, Stripe-style) rather than page numbers.

        **Required API key scope:** `payment_links:read`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: status
          in: query
          schema:
            type: string
          description: |
            Filter by link status. Accepts a single value or a comma-separated list from
            `active`, `disabled`, `expired`, `exhausted` (e.g. `status=active,disabled`).
            Unknown values return `400 invalid_parameter`.
          example: active
        - name: environment
          in: query
          schema:
            type: string
            enum: [live, test]
          description: Filter by the environment of the API key that created the link.
        - name: channel
          in: query
          schema:
            type: string
          description: |
            Filter to links pinned to this payment channel slug (e.g. `gcash`, `qrph`).
            Matches `channel_mode: fixed` links only; an unknown slug returns an empty list.
          example: gcash
        - name: created_at[gte]
          in: query
          schema:
            type: string
            format: date-time
          description: "Only links created at or after this time (ISO 8601). Unparseable values are ignored."
          example: "2026-01-01T00:00:00Z"
        - name: created_at[lte]
          in: query
          schema:
            type: string
            format: date-time
          description: "Only links created at or before this time (ISO 8601). Unparseable values are ignored."
          example: "2026-04-14T23:59:59Z"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: "Results per page (1–100, default 25). Values above 100 are clamped."
        - name: starting_after
          in: query
          schema:
            type: string
          description: |
            Cursor for pagination — a payment link ID (`plink_…`). Returns links created
            before it. Use `meta.next_starting_after` from the previous page.
          example: plink_01JRXYZ1234ABCDEF
      responses:
        '200':
          description: List of payment links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /payment_links/{id}:
    get:
      operationId: getPaymentLink
      tags: [Payment Links]
      summary: Retrieve a payment link
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: plink_01JRXYZ1234ABCDEF
      responses:
        '200':
          description: Payment link object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updatePaymentLink
      tags: [Payment Links]
      summary: Update a payment link
      description: |
        Partial update. **Required API key scope:** `payment_links:write`.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentLinkRequest'
      responses:
        '200':
          description: Updated payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /payment_links/{id}/disable:
    post:
      operationId: disablePaymentLink
      tags: [Payment Links]
      summary: Disable a payment link
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Disabled payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment_links/{id}/clone:
    post:
      operationId: clonePaymentLink
      tags: [Payment Links]
      summary: Clone a payment link
      description: |
        Duplicates link configuration with a new token and public id. Body is optional —
        omit it to copy the source link's configuration unchanged.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClonePaymentLinkRequest'
      responses:
        '201':
          description: Cloned payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment_links/{id}/checkout_url:
    post:
      operationId: createPaymentLinkCheckoutUrl
      tags: [Payment Links]
      summary: Generate checkout URL from a payment link
      description: |
        Creates a Payment + CheckoutSession from link configuration.
        Returns a session checkout URL (HMAC token), not the link URL.

        **Required header:** `Idempotency-Key`.
        **Required body field:** `merchant_reference_id`. `amount` is additionally required
        for variable-amount links, and `channel` for links whose `channel_mode` is `any`
        (both are ignored — the link's configuration wins — otherwise).

        **Single-use links resolve to one payment.** If a single-use link already has a live
        (pending/processing) checkout session, this returns `200` with that existing session's
        payment and URL instead of creating another payment.

        This `amount` goes through the same strict `POST /v1/payments` parser
        (`AmountInput`) — unlike the payment link's own `create`/`update`/`clone` amount
        fields, decimals are **rejected** here.

        **Live keys only.** This endpoint creates a real payment against a real provider
        account, so a `sk_test_` key is rejected with `403 test_key_not_permitted` — the same
        rule as `POST /v1/payments`. Creating, listing, updating, cloning and disabling links
        remain available to test keys, and a link created with a test key is not payable by
        anyone — including through its own public `/pay/pl_…` URL, which returns a test-mode
        notice instead of proceeding to checkout.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkCheckoutUrlRequest'
      responses:
        '201':
          description: Checkout session created.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkCheckoutUrlResponse'
        '200':
          description: |
            The single-use link already had a live checkout session, so that existing session
            was returned instead of creating a new payment.

            Separately, an `Idempotency-Key` replay always echoes the **original** response —
            its status code (`201` or `200`) and body — with `Idempotent-Replayed: true`; a
            replay is not unconditionally `200`.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkCheckoutUrlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: |
            Link no longer accepts payments. Codes: `payment_link_disabled`,
            `payment_link_expired`, `payment_link_exhausted`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: payment_link_expired
                  message: "Payment link has expired"
                  request_id: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # ────────────────────────────────────────────────────────────────
  # API KEYS (signing secret rotation)
  # ────────────────────────────────────────────────────────────────

  /api_keys/{id}/rotate_signing_secret:
    post:
      operationId: rotateSigningSecret
      tags: [API Keys]
      summary: Rotate request signing secret
      description: |
        Issues a new `whsig_…` signing secret for HMAC request signing. The previous secret
        is invalidated immediately. Requires API key scope `payments:write` or `disbursements:write`.

        Does **not** rotate the bearer token (`sk_live_` / `sk_test_`). Create a new API key in
        the Dashboard to rotate the bearer credential.
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: ak_live_9f3c8a2b1d4e5f6a7b8c9d0e
          description: PearlPay API key ID (from the Dashboard or key list), e.g. `ak_live_…`.
      responses:
        '200':
          description: New signing secret (shown once).
          content:
            application/json:
              schema:
                type: object
                required: [object, api_key_id, signing_secret, message]
                properties:
                  object:
                    type: string
                    example: signing_secret
                  api_key_id:
                    type: string
                    description: The API key's public identifier (`ak_live_…` / `ak_test_…`), not the bearer secret.
                    example: ak_live_9f3c8a2b1d4e5f6a7b8c9d0e
                  signing_secret:
                    type: string
                    description: Store securely; not shown again.
                    example: whsig_01JRXYZabcdefghijklmnopqrstuvwxyz0123456789abcdef
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

# ────────────────────────────────────────────────────────────────
# COMPONENTS
# ────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Authenticate with your PearlPay secret API key.

        ```
        Authorization: Bearer sk_live_<your_key>
        ```

        `sk_test_` keys cannot create payments or disbursements (`403 test_key_not_permitted`);
        there is no simulated provider. Keys are provisioned in the PearlPay Dashboard
        under **Settings → API Keys**. Available key scopes:
        - `payments:read` / `payments:write`
        - `disbursements:read` / `disbursements:write`
        - `payment_links:read` / `payment_links:write`
        - `webhooks:manage` (activate webhook endpoints and rotate their signing secrets)

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        maxLength: 255
      description: |
        **Required on `POST /payments`, `POST /disbursements`, `POST /payment_links`, and
        `POST /payment_links/{id}/checkout_url`** — omitting it returns
        `400` (`idempotency_required`); a key longer than 255 characters returns `400`
        (`invalid_parameter`). A unique string (UUID v4 recommended) that ensures
        this request is processed at most once. If a request with the same key has already
        succeeded, it is not re-processed: the original status code is returned with the
        resource in its **current** state (with the `Idempotent-Replayed: true` header); a
        cached error is replayed as-is. Keys expire after 24 hours; after that the same key is
        processed as a new request, which on `POST /payments` returns `409`
        (`duplicate_reference`) if the first request created a payment.

        If the same key is sent with **different parameters**, `409` (`idempotency_conflict`)
        is returned. If the original request is still in flight, `409`
        (`idempotency_in_progress`) is returned — retry after a short delay.

    ApiVersion:
      name: X-Api-Version
      in: header
      required: false
      schema:
        type: string
        example: "2026-04-14"
      description: |
        Pins this request to a specific API version (`YYYY-MM-DD`). Omit to use the
        server default (**`2026-04-14`**). Pinning protects your integration from
        future backwards-incompatible serializer changes; the current version has a
        single resource shape, so all dates presently behave the same.

    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number (1-based).

    PerPageParam:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: |
        Results per page (1–100). Defaults to 20. Values above 100 are clamped to 100;
        zero, negative, or non-numeric values fall back to the default.

    # Optional HMAC request signing — see https://api.pearlpay.io/api-docs/guides/request-signing
    RequestTimestamp:
      name: X-Request-Timestamp
      in: header
      required: false
      schema:
        type: string
        example: "1713086400"
      description: |
        Unix timestamp (seconds). Message signed is `timestamp.nonce.SHA256hex(raw_body)`.
        Required with `X-Request-Nonce` and `X-Signature` for `POST /disbursements`, or when
        optional signing is used on `POST /payments`.

    RequestNonce:
      name: X-Request-Nonce
      in: header
      required: false
      schema:
        type: string
        example: nce_01JRXYZ1234ABCDEF
      description: |
        Unique nonce per request (max 64 characters). Prevents replay when combined with
        timestamp and HMAC verification.

    RequestSignature:
      name: X-Signature
      in: header
      required: false
      schema:
        type: string
        example: "v1=a1b2c3d4e5f6..."
      description: |
        `v1=` + hex HMAC-SHA256(`timestamp.nonce.SHA256hex(body)`, signing_secret). See [Request signing guide](https://api.pearlpay.io/api-docs/guides/request-signing).

    DisbursementRequestTimestamp:
      name: X-Request-Timestamp
      in: header
      required: true
      schema:
        type: string
        example: "1713086400"
      description: |
        **Required for disbursement create.** Unix timestamp (seconds); must be within ±5 minutes of server time.

    DisbursementRequestNonce:
      name: X-Request-Nonce
      in: header
      required: true
      schema:
        type: string
      description: |
        **Required for disbursement create.** Unique per request (max 64 characters).

    DisbursementRequestSignature:
      name: X-Signature
      in: header
      required: true
      schema:
        type: string
        example: "v1=a1b2c3d4e5f6789012345678901234567890abcdef1234567890abcdef12"
      description: |
        **Required for disbursement create.** HMAC-SHA256 over `timestamp.nonce.SHA256hex(body)` using the key's `whsig_` signing secret; prefix with `v1=`.

  headers:
    XRequestId:
      description: |
        Unique request identifier (UUID), returned on **every** `/v1` response and echoed
        in the error envelope's `request_id`. Pass your own `X-Request-Id` request header
        to propagate an existing trace ID. Include it in all support communications.
      schema:
        type: string
        example: 9f6f63ce-7a45-4f9b-9c1d-2a52a113b8d0

    Deprecation:
      description: |
        Present when the request used a deprecated field (e.g. `bank_code` instead of
        `partner_code` on `POST /disbursements`). The value describes the replacement
        and the sunset date.
      schema:
        type: string
        example: "bank_code is deprecated; use partner_code (canonical). Sunset: 2026-12-01"

    IdempotentReplayed:
      description: |
        Present when the outcome was replayed from a previous request using the same
        `Idempotency-Key` — successful outcomes and cached error outcomes alike (same
        semantics as Stripe). The status code matches the original response (usually
        `201` for successes; the original error status for replayed errors). A replayed
        success body shows the resource's current state, not a stored copy of the first
        response; a replayed error body is the cached error. Use it to
        distinguish a fresh failure from the cached outcome of an earlier attempt.

        Declared explicitly only on the responses that reference this header directly.
        The shared 4xx/5xx response components (`Conflict`, `UnprocessableEntity`,
        `InternalServerError`, `BadGateway`) are reused by non-keyed endpoints too, so
        this header is omitted from their schema even though the four keyed create
        operations (`createPayment`, `createDisbursement`, `createPaymentLink`,
        `createPaymentLinkCheckoutUrl`) do send it when replaying a cached error.
      schema:
        type: string
        enum: ["true"]

    # Delivered on POST requests to your webhook URL (see Webhooks guide)
    XWebhookId:
      description: |
        PearlPay's internal numeric delivery id, as a string (not a `wh_` prefixed value). Do not
        use it for deduplication; use the body `id` (`evt_...`) instead. A replay-mode resend by PearlPay
        reuses the original delivery's id.
      schema:
        type: string
        example: "48213"

    XWebhookTimestamp:
      description: "Unix timestamp (seconds) when PearlPay signed this payload."
      schema:
        type: string
        example: "1713086400"

    XWebhookSignature:
      description: |
        HMAC-SHA256 signature of `timestamp + '.' + raw_body` using your endpoint's
        `whsec_` signing secret. Format `v1=<hex>`.
      schema:
        type: string
        example: "v1=a1b2c3d4e5f6789..."

  schemas:

    AmountInput:
      description: |
        Monetary amount in centavos (minor units) — Stripe-compatible. `150000` = PHP 1,500.00.

        Decimal values are **rejected** with `422 invalid_parameter`: both JSON floats
        (`1500.00`) and decimal strings (`"1500.00"`). The error hints the integer to send
        (e.g. `Send 150050 for 1,500.50 PHP`). A digit-only string (`"150000"`) is accepted
        as minor units.

        Used by `POST /v1/payments` and `POST /v1/disbursements`. **Payment Links use a
        different, more permissive input** — see `PaymentLinkAmountInput`.
      oneOf:
        - type: integer
          minimum: 1
          description: Integer amount in centavos (minor units).
          example: 150000
        - type: string
          pattern: '^\d+$'
          description: Digit-only string in centavos (minor units).
          example: "150000"

    PaymentLinkAmountInput:
      description: |
        Monetary amount for Payment Link `amount` / `minimum_amount` / `maximum_amount` /
        `suggested_amount` on **create, update, and clone only**.

        Unlike `AmountInput`, this field is **not** limited to minor units: the same parser
        backs both this JSON API and an HTML checkout-builder form, so it additionally
        accepts a decimal string in major units. **Do not assume `POST /v1/payments` /
        `POST /v1/disbursements` decimal-rejection rules apply here.** Note that the
        `checkout_url` sub-resource's `amount` field is a separate case — see
        `PaymentLinkCheckoutUrlRequest`, which uses the strict `AmountInput`.
      oneOf:
        - type: integer
          minimum: 1
          description: Integer amount in centavos (minor units).
          example: 150000
        - type: string
          pattern: '^\d+$'
          description: Digit-only string in centavos (minor units).
          example: "150000"
        - type: string
          pattern: '^\d+\.\d+$'
          description: Decimal string in major units (PHP pesos).
          example: "1500.00"

    # ── Payment ─────────────────────────────────────────────────────

    Payment:
      type: object
      description: |
        An incoming payment from a customer. The shape is stable — every key is always
        present and unset values are `null`.

        `metadata` sent at creation is stored and shown in the Dashboard but is **not**
        returned on API payment resources.
      properties:
        id:
          type: string
          example: pay_01JRXYZ1234ABCDEF
          description: "Unique PearlPay identifier. Always prefixed `pay_`."
        object:
          type: string
          enum: [payment]
          description: "Always `\"payment\"`."
        merchant_reference_id:
          type: string
          example: ORDER-2026-00123
          description: "The reference ID you sent on create, returned exactly as sent (see `merchant_reference_id` on the create request for the matching rules)."
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount:
          type: integer
          example: 150000
          description: |
            Total amount in centavos (smallest currency unit) — the gross the customer pays.
            PHP 1,500.00 = `150000`. Divide by 100 for the decimal value. May exceed the `amount`
            submitted on `POST /payments` when the routed capability charges its fee on top.
        amount_decimal:
          type: string
          example: "1500.00"
          description: "Amount as a formatted decimal string. For display only — use `amount` for arithmetic."
        currency:
          type: string
          enum: [PHP]
          description: "ISO 4217 currency code. Currently `PHP` only."
        payment_channel:
          type: [string, "null"]
          example: gcash
          description: |
            The channel this payment was created for — the same stable identifier you sent as
            `payment_channel`. Which provider account ultimately served it is deliberately not
            exposed, so routing can change without a contract change.
        checkout_url:
          type: [string, "null"]
          description: |
            Redirect the customer to this URL to complete payment. For QRPH, this is the
            PearlPay-hosted page that displays the QR code.
        expires_at:
          type: [string, "null"]
          format: date-time
          example: "2026-04-14T09:00:00Z"
          description: |
            When the checkout window closes. After this PearlPay makes a final status check
            with the provider: a payment found paid becomes `succeeded`; otherwise it is reaped
            `failed`, normally with `message: "Payment expired"` (see `message`). Always set for payments created with `POST /payments`
            (creation time plus the `expires_in` you requested, or the provider account's
            configured expiry, 30 minutes by default). A hosted-page QR renewal can move it
            later without a webhook. Nullable only for payments that were not created through
            this endpoint.
        paid_at:
          type: [string, "null"]
          format: date-time
          example: "2026-04-14T08:35:00Z"
          description: "When the payment was confirmed. Null until `status` is `succeeded`."
        message:
          type: [string, "null"]
          example: Payment expired
          description: |
            Human-readable detail about the current status. This is the field to check when
            telling a lapsed checkout (`"Payment expired"`) from a provider rejection — both are
            `status: "failed"` — before deciding whether to offer a retry or release held
            inventory. It is best-effort, not a guarantee. On deferred channels (every channel
            except `card`) a lapsed checkout reads `"Payment expired"` whenever the provider's
            status inquiry at or after expiry reports the order as failed, so a genuine decline
            first seen after `expires_at` is labelled expired too; a definitive decline (e.g.
            `card`) is never relabeled as expired. A provider callback that reports an expired
            checkout (or any failure after `expires_at` on a deferred channel) sets it the same
            way; any other callback failure, or a `card` decline found by a status check, does
            not set this field, so it stays `null` (or keeps any earlier value). For a reliable
            machine-readable discriminator use `failure_reason`, not this text.
        failure_reason:
          type: [string, "null"]
          enum: [expired, cancelled_by_merchant, abandoned_by_customer, provider_failed, operator_failed, null]
          example: null
          description: |
            Why a `failed` payment failed, as a stable machine-readable value. Always `null` unless
            `status` is `failed`.

            - `expired`: the checkout window closed without payment (also set when a provider
              reports the checkout expired). On deferred channels this includes a provider
              decline that PearlPay first saw after `expires_at`; it cannot be told apart from a
              lapse, so it is reported as `expired`, consistent with `message`.
            - `cancelled_by_merchant`: you called `POST /payments/{id}/cancel`.
            - `abandoned_by_customer`: the customer backed out of a payment-link checkout.
            - `provider_failed`: the provider declined or reported a failure, or checkout setup
              could not be completed (retries exhausted, no usable provider account).
            - `operator_failed`: a PearlPay operator marked the payment failed.

            `null` for any other failure (for example a payment blocked by risk checks) and for
            payments that failed before this field was populated. More values may be added later
            without a contract change, so treat an unrecognised value like `null`. Also present in
            `payment.failed` and `payment.abandoned` webhook payloads.
        created_at:
          type: string
          format: date-time
          example: "2026-04-14T08:30:00Z"

    PaymentList:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaymentStatus:
      type: string
      enum:
        - pending
        - processing
        - succeeded
        - failed
        - voided
      description: |
        | Status | Description | Terminal? |
        |--------|-------------|-----------|
        | `pending` | Created; awaiting customer action or provider initiation. | No |
        | `processing` | Reserved. Not currently assigned to payments. | No |
        | `succeeded` | Confirmed. Funds received. | Yes |
        | `failed` | Payment failed (includes checkout expiration — see `message`). An operator can still move a `failed` payment to `succeeded` after a late provider success. | Yes, except for that operator action |
        | `voided` | The payment was reversed after it had succeeded (a ledger clawback from the merchant; see `payment.reversed`). There is no void for a payment that has not completed. | Yes |

    CreatePaymentRequest:
      type: object
      required: [merchant_reference_id, amount, payment_channel]
      properties:
        merchant_reference_id:
          type: string
          maxLength: 100
          description: |
            Your unique reference ID. Must be unique per merchant. Maximum 100 characters; no
            character set is enforced (any characters are accepted and stored as sent). Maps to
            legacy `txnid`.

            **Matching rules.** The reference is stored and returned exactly as you sent it and
            is **case-sensitive** (`ord-1` and `ORD-1` are different references).
            Duplicate detection runs on a derived identifier of at most 20 alphanumeric
            characters: your reference with everything except ASCII letters and digits removed
            (non-ASCII letters such as `ñ` count as punctuation), or, when more than 20 characters
            remain, the first 10 of those characters plus a 10-character base36 digest of the full
            original string. If no ASCII letters or digits remain (for example `----`), the
            identifier is the first 20 hex characters of the SHA-256 of the original string.
            Consequences:
            - Two **short** references that differ only by punctuation or non-ASCII characters (for
              example `ORD-1`, `ORD_1`, `ORD1` and `ORDÑ1`) map to the same identifier, so the second
              is rejected with `409 duplicate_reference`.
            - **Longer** references (more than 20 alphanumeric characters) include a digest of the
              full original string, so ones that differ only by punctuation get different
              identifiers and do not collide.
            - `GET /payments?merchant_reference_id=` is an exact, case-sensitive match on the
              reference as you sent it, so a punctuation variant does not find the payment.
          example: ORDER-2026-00123
        amount:
          $ref: '#/components/schemas/AmountInput'
        currency:
          type: string
          enum: [PHP]
          default: PHP
          description: "ISO 4217 currency code. Optional — defaults to `PHP`."
        payment_channel:
          type: string
          enum:
            - qrph
            - gcash
            - maya
            - card
            - bpi
            - ub online
            - instapay
            - cebl
            - plwn
            - grabpay
            - shopeepay
          description: |
            The payment channel to route the customer through. Availability depends on your
            provider configuration; the response includes `checkout_url` (a PearlPay-hosted
            page or a redirect to the provider's checkout). Amount limits are per-channel —
            see the table below.

            | Channel | Customer experience | Typical amount range (PHP) |
            |---------|---------------------|----------------------------|
            | `qrph` | BSP-standard QR code scanned with any QRPH-enabled banking app. | 100 – 50,000 |
            | `gcash` | Redirect to the GCash e-wallet checkout. | 100 – 80,000 |
            | `maya` | Redirect to the Maya e-wallet checkout. | 110 – 50,000 |
            | `card` | PearlPay-hosted card page; the customer enters their card on the provider's secure page (no card data touches your servers or PearlPay). | 110 – 50,000 |
            | `bpi` | Redirect to BPI Online banking; the customer approves the payment in their own bank session. | 110 – 150,000 |
            | `grabpay` | Redirect to the GrabPay e-wallet checkout. | 100 – 80,000 |
            | `shopeepay` | Redirect to the ShopeePay e-wallet checkout. | 1 – 100,000 |
            | `ub online` | UnionBank online banking. | 100 and up |
            | `instapay` | InstaPay bank transfer. | 100 – 50,000 |
            | `cebl` | Cebuana Lhuillier over-the-counter. | 100 – 79,980 |
            | `plwn` | Palawan Pawnshop over-the-counter. | 100 – 19,980 |

            Exact limits and channel availability follow your provider configuration; amounts
            below every eligible capability's minimum return `amount_below_threshold`; amounts
            above every eligible capability's maximum return `amount_above_threshold`; channels
            with no capability, or amounts that fit no single provider's range, return
            `no_available_provider`. None creates a payment.
          example: qrph
        payment_method_type:
          type: [string, "null"]
          maxLength: 50
          description: "Optional override for payment method type category."
        customer:
          $ref: '#/components/schemas/Customer'
        merchant_terminal_id:
          type: [string, "null"]
          maxLength: 255
          description: "Optional terminal or branch identifier."
        callback_url:
          type: string
          maxLength: 255
          format: uri
          description: >-
            Stored on the payment for reference only. PearlPay does not send anything to this
            URL. Payment notifications are delivered only to webhook endpoints registered with
            `POST /webhook_endpoints`, so you can omit this field. Provider callbacks use the
            provider account's own configuration, not this value. `cancel_url` is not accepted
            on this endpoint (it is ignored).
          example: "https://merchant.ph/webhooks/pearlpay"
        redirect_url:
          type: string
          maxLength: 255
          format: uri
          description: >-
            URL to redirect the customer after completing (or canceling) payment. The same URL
            is used for success and failure. It must use `http` or `https`, and its host must match
            exactly (no wildcards or subdomain matching) an entry on your account's allowed
            redirect hosts list (Merchant Details → Settings → Payment redirect hosts). When the
            `validate_payment_redirect_url_host` feature flag is enabled, a non-allow-listed host is
            rejected at create with `422 invalid_parameter`. When it is not enabled (the default),
            the payment is created and the URL is silently ignored at redirect time, leaving the
            customer on the PearlPay hosted checkout page. Register the host before going live
            with a new domain.
          example: "https://merchant.ph/checkout/return"
        requesting_url:
          type: string
          maxLength: 255
          format: uri
          description: "URL of the page that initiated the payment. Used for fraud signals."
        expires_in:
          type: integer
          minimum: 1
          description: >-
            Optional. How long, in seconds, the checkout stays payable; `expires_at` on the
            response is creation time plus this value. Available when the `expires_in` feature is
            enabled; otherwise it is ignored and the default window applies
            (the provider account's configured expiry, 30 minutes unless configured otherwise).
            You can shorten the default window but not lengthen it. The allowed range depends on
            the payment channel and routed provider; out of range returns `422
            expires_in_out_of_range`, whose message states the effective range, and no payment is
            created. A non-integer, non-positive or non-scalar value returns `422
            invalid_parameter`. Changing it under the same `Idempotency-Key` returns
            `409 idempotency_conflict`. A hosted-page QR renewal can extend the checkout by at most
            twice this window beyond the original `expires_at`.
          example: 900
        metadata:
          type: object
          additionalProperties: true
          description: |
            Arbitrary key-value pairs for your reference. Stored and shown in the Dashboard,
            but **not returned** on API payment resources. Must be an object (omitted, null, "" and [] are treated as absent); any
            other JSON type returns `422 invalid_parameter` and is cached under the `Idempotency-Key`.
            Keys the platform uses internally (`original_expires_at`, `requested_expires_in_seconds`,
            `checkout_session_failed_at`, `checkout_renewal_*`, `settlement_rule_snapshot`, `fee_requotes`,
            `confirmed_via`, `cancelled_by`, `cancelled_at`, `abandoned_from_link`, `pp_failure_reason`, `payment_link_*`,
            `callback_first`, `rcbc_callback_first`, `intl_check`, `card_country`, `card_scheme`,
            `international`, `qr_payload`, and any key ending in `_request`) are reserved and silently dropped.
          example:
            order_id: ORDER-2026-00123
        facilitation_fee:
          deprecated: true
          description: |
            **Deprecated.** Ignored. Fees are derived from the routed provider capability.
            Accepted for backward compatibility but not read or validated; it will be removed
            only with a future API version.
          type: [string, integer]
          example: 4500

    Customer:
      type: object
      description: "Customer details associated with a payment."
      properties:
        first_name:
          type: string
          maxLength: 100
          example: Maria
        last_name:
          type: string
          maxLength: 100
          example: Santos
        email:
          type: string
          maxLength: 255
          format: email
          example: maria.santos@email.com
        mobile:
          type: string
          maxLength: 255
          description: |
            Philippine mobile number. Both formats accepted:
            - E.164: `+639171234567`
            - Local: `09171234567`

            The 255-character limit applies **after normalization**: non-digit characters are
            stripped before the length is checked, and a longer result returns `422`
            (`invalid_parameter`).
          example: "+639171234567"

    # ── Disbursement ─────────────────────────────────────────────────

    Disbursement:
      type: object
      description: |
        An outgoing fund transfer to a recipient. The shape is stable — every key is always
        present and unset values are `null`.
      properties:
        id:
          type: string
          example: dis_01JRXYZ5678GHIJKL
          description: "Unique PearlPay identifier. Always prefixed `dis_`."
        object:
          type: string
          enum: [disbursement]
          description: "Always `\"disbursement\"`."
        merchant_reference_id:
          type: string
          example: PAYOUT-2026-00456
          description: "Your unique reference ID for this disbursement."
        status:
          $ref: '#/components/schemas/DisbursementStatus'
        amount:
          type: integer
          example: 500000
          description: "Total amount in centavos. PHP 5,000.00 = `500000`."
        amount_decimal:
          type: string
          example: "5000.00"
          description: "Amount as a formatted decimal string. For display only — use `amount` for arithmetic."
        currency:
          type: string
          enum: [PHP]
          description: "ISO 4217 currency code. Currently `PHP` only."
        created_at:
          type: string
          format: date-time
          example: "2026-04-14T08:30:00Z"

    DisbursementList:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Disbursement'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    DisbursementStatus:
      type: string
      enum:
        - queued
        - processing
        - submitted
        - pending_confirmation
        - paid
        - failed
        - returned
        - canceled
      description: |
        | Status | Description | Terminal? |
        |--------|-------------|-----------|
        | `queued` | Accepted; awaiting processing. | No |
        | `processing` | Being processed by the payment network. | No |
        | `submitted` | Submitted to destination bank/e-wallet. | No |
        | `pending_confirmation` | Awaiting final settlement confirmation. | No |
        | `paid` | Delivered to recipient. | Yes |
        | `failed` | Processing failed. | Yes |
        | `returned` | Funds returned by destination bank. | Yes |
        | `canceled` | Canceled before processing. Funds returned to wallet. | Yes |

    CreateDisbursementRequest:
      type: object
      required: [merchant_reference_id, amount, rail, account_number, account_name]
      description: |
        One of `partner_code` (canonical) or `bank_code` (deprecated) is also required —
        omitting both returns `422 missing_parameter`.
      properties:
        merchant_reference_id:
          type: string
          maxLength: 100
          description: |
            Your unique reference ID. Must be unique per merchant. Acts as permanent
            deduplication key — sending the same value again returns `200 OK` with the
            original disbursement instead of creating a duplicate payout.
            Maps to legacy `sender_ref_id`.

            Maximum 100 characters; no character set is enforced. Unlike payments, disbursements
            do **not** derive a shortened identifier: the reference is compared exactly as sent,
            case-sensitively and without normalising punctuation (`PAYOUT-1`, `payout-1` and
            `PAYOUT_1` are three different references).
          example: PAYOUT-2026-00456
        amount:
          $ref: '#/components/schemas/AmountInput'
        currency:
          type: string
          enum: [PHP]
          default: PHP
          description: "ISO 4217 currency code. Optional — defaults to `PHP`."
        rail:
          type: string
          enum: [instapay, pesonet, rtgs]
          description: |
            Disbursement rail:
            - `instapay` — Near-real-time (seconds to minutes). BSP per-transaction and daily limits apply.
            - `rtgs` — Real-time gross settlement (banking hours; same-day status checks as InstaPay).
            - `pesonet` — Batch clearing. Same-day if submitted before 3:00 PM PHT on a banking day; next banking day otherwise.
          example: instapay
        partner_code:
          type: string
          description: >
            Destination institution code from
            `GET /disbursements/rails/{code}/partners`. Accepts the canonical
            `code` or the per-rail `alias_code` (3–6 alphanumeric). Preferred over `bank_code`.
        bank_code:
          type: string
          deprecated: true
          description: |
            **Deprecated — use `partner_code`.** Legacy bank/e-wallet code (values from
            `GET /v1/partners`). Requests using `bank_code` without `partner_code` receive
            a `Deprecation` response header. Sunset: 2026-12-01.
          example: BDO
        account_number:
          type: string
          description: "Recipient account number. Only the last 4 digits are stored."
          example: "1234567890"
        account_name:
          type: string
          description: |
            Registered account name. Should match the name on the destination account exactly.
            Name mismatches may cause returns, particularly on PESONet.
          example: Jose Reyes
        sender:
          type: object
          description: "Sender details as they appear on the recipient's transaction record."
          properties:
            name:
              type: string
              example: Acme Corp
            account_number:
              type: string
            bank_code:
              type: string
            address:
              type: string
            email:
              type: string
              format: email
            mobile:
              type: string
        recipient:
          type: object
          description: "Extended recipient details for your records."
          properties:
            name:
              type: string
            account_number:
              type: string
            bank_code:
              type: string
            address:
              type: string
            email:
              type: string
              format: email
            mobile:
              type: string
        callback_url:
          type: string
          format: uri
          description: >-
[...]
